.ReactExhibit__Docs .Docs__TableWrapper {
    overflow-x: auto;
}

.ReactExhibit__Docs .Docs__Table {
    font-family: 'Arimo', sans-serif;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid rgba(170, 170, 170, 0.4);
}

.ReactExhibit__Docs .Docs__Table__Labels {
    background-color: var(--orange);
    color: #FFF;
}

.ReactExhibit__Docs .Docs__Table__Labels th {
    padding-left: 15px;
    font-size: 15px;
    border: 1px solid var(--orange);
}

.ReactExhibit__Docs .Docs__Table tr {
    height: 40px;
}

.ReactExhibit__Docs .Docs__Table tr:nth-child(even) {
    background-color: #FFF
}

.ReactExhibit__Docs .Docs__Table tr,
.ReactExhibit__Docs .Docs__Table td {
    border-top: 1px solid rgba(170, 170, 170, 0.4);
    padding-left: 15px;
    font-size: 15px;
}
