.ComponentDocs {
    background-color: #FFF;
    overflow: hidden;
}

.ComponentDocs__Label {
    font-family: 'Arimo', sans-serif;
    text-align: left;
    line-height: 30px;
    text-overflow: ellipsis;
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.ComponentDocs__Description {
    text-align: left;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: var(--dark-grey);
    font-weight: normal;
}

.ComponentDocs__Props {
    padding-top: 0;
    overflow: hidden;
}

.ComponentDocs__TableWrapper {
    overflow-x: auto;
}

.ComponentDocs__Table {
    font-family: 'Arimo', sans-serif;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid rgba(170, 170, 170, 0.4);
}

.ComponentDocs__Table__Labels {
    background-color: var(--grey);
    color: #FFF;
}

.ComponentDocs__Table__Labels th {
    padding-left: 15px;
    font-size: 15px;
}

.ComponentDocs__Table tr {
    height: 40px;
}

.ComponentDocs__Table tr,
.ComponentDocs__Table td {
    border-top: 1px solid rgba(170, 170, 170, 0.4);
    padding-left: 15px;
    font-size: 15px;
}
