.ReactExhibit__ApplicationListItem,
.ReactExhibit__ApplicationListItem:active,
.ReactExhibit__ApplicationListItem:focus {
    font-family: 'Arimo', sans-serif;
    display: block;
    text-decoration: none;
    font-style: normal;
    white-space: nowrap;
    color: var(--text-bright);
    cursor: pointer;
    padding-left: 24px;
}

.ReactExhibit__ApplicationListItem:hover {
    background-color: #FBFBFB;
    text-decoration: none;
    color: #000;
}

.ReactExhibit__ApplicationListItem.ApplicationListItem--Selected,
.ReactExhibit__ApplicationListItem.ApplicationListItem--Selected:focus,
.ReactExhibit__ApplicationListItem.ApplicationListItem--Selected:active,
.ReactExhibit__ApplicationListItem.ApplicationListItem--Selected:hover {
    background-color: var(--tile-bright);
    border-left: 4px solid var(--blue);
    color: var(--blue) !important;
    font-size: 16px;
    padding-left: 20px;
}

.ReactExhibit__ApplicationListItem .ApplicationListItem__Label {
    font-size: 16px;
    line-height: 40px;
}