.Header {
    background-color: var(--bright-grey);
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
}

.Header__Label {
    grid-column: 2;
    font-family: 'Arimo', sans-serif;
    line-height: 56px;
    font-size: 1.75rem;
    text-decoration: none;
    color: #000;
}

.Header__Label:visited {
    color: #000;
}

.Header__Label:hover,
.Header__Label:active {
    color: var(--grey);
}