.ReactExhibit__ApplicationTitle {
    font-size: 22px;
    cursor: pointer;
    padding: 0px 8px 0 8px;
    line-height: 40px;
    color: var(--text-bright);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
