.ReactExhibit__ApplicationTitle {
    font-size: 18px;
    cursor: pointer;
    padding: 0px 8px 0 8px;
    line-height: 40px;
    color: var(--text-bright);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ReactExhibit__ApplicationTitle a {
    color: var(--blue);
    text-decoration: none;
}

.ReactExhibit__ApplicationTitle a:hover {
    color: #333;
}