.ReactExhibit__Header {
    background-color: var(--system);
    position: sticky;
    left: 0;
    right: 0;
    z-index: 8;
}

.ReactExhibit__Header.Header--ApplicationDark {
    background-color: var(--application-dark);
}

.ReactExhibit__Header.Header--ApplicationBright {
    background-color: var(--application-bright);
}

.ReactExhibit__Header .Header__Banner {
    display: flex;
    height: 40px;
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
}