.ReactExhibit__Sidebar {
    padding-top: 80px;
    min-width: 320px;
    background-color: #F6F7F7;
    z-index: 11 !important;
    border-right: 1px solid #ededed;
    box-shadow: inset -1px 0px 8px rgba(0, 0, 0, 0.05);
}

.ReactExhibit__Sidebar:first-child .ReactExhibit__ApplicationListDropdown {
    margin-top: 0px;
}

.ReactExhibit__Sidebar__Content {
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.ReactExhibit__Content {
    margin-top: 80px;
    background-color: var(--tile-bright);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ReactExhibit__Content__Container {
    background-color: var(--tile-bright);
    padding: 40px 4px 4px 4px;
    margin: 0 8px 8px 8px;
}