.ReactExhibit__ContentTile {
    background-color: var(--tile-bright);
    padding: 0px 16px 0 16px;
    margin: 4px;
    border-radius: 2px;
}

.ReactExhibit__ContentTile .ContentTile__Header {
    min-height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--showcase-grey);
    font-size: smaller;
    font-weight: 500;
    font-family: 'Arimo', sans-serif;
}

.ReactExhibit__ContentTile .ContentTile__Header--Main {
    min-height: 40px;
    line-height: 40px;
    font-size: 24px;
}

.ReactExhibit__ContentTile .ContentTile__Content {
    padding: 0px 0px 8px 0px;
}