.ReactExhibit__ApplicationListDropdown a,
.ReactExhibit__ApplicationListDropdown a:active,
.ReactExhibit__ApplicationListDropdown a:focus {
    font-family: 'Arimo', sans-serif;
    display: block;
    text-decoration: none;
    font-style: normal;
    white-space: nowrap;
    font-size: 14px;
    line-height: 40px;
    color: var(--text-bright);
    cursor: pointer;
}

.ReactExhibit__ApplicationListDropdown .ApplicationListDropdown__Label {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
}

.ReactExhibit__ApplicationListDropdown .ApplicationListDropdown__Label--Active {
    background-color: #FBFBFB;
    text-decoration: none;
    color: #000;
}

.ReactExhibit__ApplicationListDropdown>.ReactExhibit__ApplicationListItem {
    background-color: var(--tile-bright);
}

.ReactExhibit__ApplicationListDropdown .ApplicationListDropdown__Label:hover {
    background-color: #FBFBFB;
    text-decoration: none;
    color: #000;
}

.ReactExhibit__ApplicationListDropdown .ApplicationListDropdown__Label {
    padding-left: 1.2rem;
}

.ReactExhibit__ApplicationListDropdown .ApplicationListItem__Label {
    padding-left: 1.4rem;
}

.ReactExhibit__ApplicationListDropdown .ApplicationListDropdown__Icon {
    font-size: 12px;
}