.ReactExhibit__SystemTitle {
    float: left;
    padding: 0px 8px 0 16px;
    border-right: 1px solid #3C3C3C;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    flex: none;
    color: #FAFAFA;
    cursor: pointer;
    text-decoration: none;
}

.ReactExhibit__SystemTitle:hover {
    color: #ccc;
}

.ReactExhibit__SystemTitle .SystemTitle__Image {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.ReactExhibit__SystemTitle .SystemTitle__Description {
    margin: 0 8px 0 8px;
    font-size: 14px;
}