.Showcase {
    background-color: #FFF;
}

.Showcase__Demo {
    border: 1px solid rgba(170, 170, 170, 0.4);
    border-bottom: none;
    position: relative;
    overflow-x: auto;
    padding: 8px;
}

.Showcase__Source {
    border: 1px solid #000;
}

.Showcase__Source pre {
    border-radius: 0;
    border: none;
    margin: 0;
    font-size: 16px;
}